@font-face {
	font-family: "Antonio";
	src: url('../font/Antonio-VariableFont_wght.ttf');
}
@font-face {
	font-family: "Amaranth";
	src: url('../font/Amaranth-Regular.ttf');
}
@font-face {
    font-family: "Actor";
    src: url('../font/Actor-Regular.ttf');
}