body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a {
    margin: 0 !important;
}
/* Loading screen */

#LoadingScreenBody{
    overflow-y: hidden;
  }
.LoadingScreen{
    background-color: black;
    background-image:url("../content/ANIMATION-LOGO-JOSHUA-GUYOT.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
    width: 100%;
    height: 100%;
    visibility: visible; 
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.EndLoading{
    visibility: hidden;
    transition: visibility 1s,opacity 0.5s linear;
    opacity: 0;
}

/* Screen 1 */
#screen1 {
    min-height: 100vh;
    text-align: center;
    background-image:url("../content/background_index.gif");
    position: relative;
    padding-bottom: 5em;
}

.MenuItemText {
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    color: white !important; 
    margin: 1em;
}

.bounce2 {
    animation: bounce2 2s ease infinite;
}
@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}
  
/* Content of the first screen */

#sousscreen1 {
    text-align: center;
    color: white;
}
#creativeText {
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 700;
    font-size:  4.5vw;
    text-align: center;
    margin-bottom: 0;
    transform: scale(0.00);
    animation: scale 2s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
}
#name {
    margin-top: 0;
    font-family: 'Antonio';
    font-style: normal;
    font-size:  2.5vw;
    line-height: 62px;
    text-align: center;
    letter-spacing: 0.25    em;
    color: #FF0000;
    transform: scale(0.00);
    animation: scale 2s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
    100% {
      transform: scale(1);
    }
}
.navbar {
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}


#arrow_down {
    width: 12rem;
    justify-content: center;
}
/* Slider */
.webdevTitle {
    font-family: 'Actor';
    font-style: normal;
    font-weight: 200;
    font-size: 1.5rem;
}
.webdevTitle strong {
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 900;
    font-size: 4rem;
}

.webdevText {
    font-family: 'Actor';
    font-style: normal;
    font-weight: 900;
    font-size: 1.90rem;
    max-width: 100%;
}

@media (max-width: 992px) {
    .webdevTitle {
        font-size: 1rem;
    }
    .webdevTitle strong {
        font-size: 2.6rem;
    }
    .scrolling-wrapper div {
        width: 50% !important;
    }
    #screen1 {
        min-height: 70vh;
        background-image:url("../content/background_index_mobile.gif");
        background-position: top;
        background-size: cover;
    }
    #arrow_down {
        width: 6rem;
    }
    .LoadingScreen {
        background-size: 50%;

    }
    #screen3Title {
        font-size: 2.2rem;
    }
}
@media (max-width: 700px) {
    .scrolling-wrapper div {
        width: 100% !important;
    }
}

.right-arrow {
    animation: bounce 2s ease infinite;
    max-width: 5vh;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
    40% {transform: translateX(-30px);}
    60% {transform: translateX(-15px);}
}

.scrolling-wrapper{
	overflow-x: auto;
    height: 100%;
}

.puce {
    font-family: 'Actor';
    background-color: #FF0000;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    color: white;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

/* screen 3 */
#screen3Title {
    text-align: center;
    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 155px;
}
@media (max-width: 992px) {
    #screen3Title {
        font-size: 2.2rem;
    }
}


.container{
    transform-style: preserve-3d;
}

.container .box{
    position: relative;
    width: 300px;
    height: 30em;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}


.container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container .box .body .imgContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 25px;
    z-index: -1; /* Pour qu'il apparaisse derrière l'image */
}

.container .box .body .imgContainer img{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:contain;
    border-radius: 25px;
    top:-10%;
}

.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #161616;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    border-radius: 22px;
}

.container .box:hover .body{
    transform: rotateY(180deg);
}

.container .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background: #161616;
    transform: translateZ(1px);
    color:white;
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}

.imageTextScreen3 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 70%;
}

.flip-card-back {
    text-align: center;
    display: none;
}

.carousel-indicators button{
    background-color: black !important;
}

.service-card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 400px;
  }
  
  .service-card img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
  
  .service-card h3 {
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .service-card p {
    font-family: "Arial";
    font-size: 16px;
    color: #666;
  }

  #services h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
  }