
@media screen and (max-width: 900px) {
  #name {
    font-size:  1.5em;
  }
  #creativeText {
    font-size:  1.8em;
  }
  #sousscreen1 {
    margin-top: 0rem;
  }
  #underscrenn1 {
    margin-bottom: 2rem;
  }
  .webdevTitle {
      font-size: 1rem;
  }
  .webdevTitle strong {
      font-size: 2.6rem;
  }
  .scrolling-wrapper div {
      width: 50% !important;
  }
  #screen1 {
      min-height: 70vh;
      background-image:url("../content/background_index_mobile.gif");
      background-position: top;
      background-size: cover;
  }
  .LoadingScreen {
      background-size: 50%;

  }
  #screen3Title {
      font-size: 2.2rem;
  }
}
@media (max-width: 700px) {
  .scrolling-wrapper div {
      width: 100% !important;
  }
}