body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a {
    margin: 0 !important;
}

#screen1 {
    min-height: 100vh;
    text-align: center;
    padding-bottom: 2em;
}

.MenuItemText {
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    color: white !important; 
    margin: 1em;
}

.bounce2 {
    animation: bounce2 2s ease infinite;
}
@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}
  
/* Content of the first screen */

#sousscreen1 {
    text-align: center;
    color: white;
    margin-left: 13rem;
    margin-right: 13rem;
}

.uppertext {
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 47px;
    color: red !important; 
    text-align:  left;

}

.title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 2.2rem;
    color: white !important; 
    text-align:  left;
}

.textExpli {
    text-align: left;
    max-width: 80%;
    margin-top: 2rem;
    margin-left: 6rem;
}

.accordion-item {
    border: 0px;
}
.container {
    max-width: 900px;
}
.accordion-item:first-of-type .accordion-button{
    border-top: 0px;
}
.accordion-item:last-of-type .accordion-button{
    border-bottom: 0px;
}
.accordion-button {
    background-color: black;
    color: white;
    font-family: 'Inter';
    font-size: 1.5rem;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    border-radius: 0px !important;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    background-color: black;
    color: white;
}
.accordion-button::after {
    filter: invert(1);
}
.accordion-body {
    background-color: black;
    color: white;
    text-align: left;
    padding-bottom: 2em;
}


@media screen and (max-width: 768px) {
    #sousscreen1 {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .textExpli {
        margin-left: 1rem;
        width: 100%;
    }
    
    .row {
        display: block !important;
    }
    
}
