body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* Screen 1 */
#screen1 {
    height: 100%;
    background-color: black;
    text-align: center;
    position: relative;
}
/* Header part */
header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    text-align: left;
}

ul#menu {
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5em;
}
ul#menu li {
    display: inline;

}
.MenuItemText {
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    color: white !important; 
    text-decoration: underline;
    margin: 1em;
}
#logo-link {
    display: inline-block;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: none;
    line-height: 0;
    font-size: 0;
    background: none;
    vertical-align: middle;
}
#logo {
    width: 50%;
}

/* Content of the first screen */

#sousscreen1 {
    width: 100%;
    display: inline-block;
    text-align: center;
    color: white;
}